.page {
  padding-top: 60px;
  padding-left: 220px;
  height: 100vh;
}

.headline {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  border-bottom: 1px solid rgb(227, 227, 227);
  border-radius: 1px;
  background: rgb(255, 255, 255);
  /* background-color: red; */
  margin-bottom: 1.5rem;
}

.title {
  font-weight: 700;
  font-size: 1.602rem;
  line-height: 2rem;
}

.btn {
  background-color: rgb(245, 121, 32);
  color: rgb(255, 255, 255);
 
    border: 1px solid rgb(245, 121, 32);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    position: relative;
    min-width: 6rem;
    height: 2.25rem;
    cursor: pointer;
    padding: 0.25rem 1rem;
    text-align: center;
    font-weight: 400;
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 0.889rem;
    line-height: 1.125rem;
    z-index: 0;
}

.content {
  padding: 0px 2.5rem 8rem;
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 80rem;
}
